<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label routerLink="/" class="logo">Quiz Me</label>
  <ul *ngIf="isAuthorized">
    <li>
      <a href="#" routerLink="/">Home</a>
    </li>
    <li>
      <a href="#" routerLink="/create_quiz">Create quiz</a>
    </li>
    <li>
      <a href="#" [routerLink]="['/show_quiz', key]">Show my quizzes</a>
    </li>
    <li><a href="#" (click)="logOut()">Log Out</a></li>
  </ul>
  <ul *ngIf="!isAuthorized">
    <li><a href="#" routerLink="/login">Log in</a></li>
    <li><a href="#" routerLink="/register">Register</a></li>
  </ul>
</nav>
