<app-rotate-phone></app-rotate-phone>
<section *ngIf="!loader">
  <app-loader></app-loader>
</section>
<section *ngIf="loader" class="makeBigger">
  <div *ngIf="isEmpty">
    <p>There is no Quiz</p>
  </div>
  <div *ngIf="!isEmpty">
    <div *ngIf="isOwner">
      <section class="owner">
        <aside class="top">
          <aside class="left">
            <h3 id="headerText">Quiz detail</h3>
            <div class="makeSplit">
              <aside class="quiz_left">
                <img
                  (click)="viewFullImage()"
                  [src]="quizDetail.quizInfo.imgSrc"
                  alt=""
                />
              </aside>
              <aside class="quiz_right">
                <div>
                  <form #myForm="ngForm">
                    <mat-form-field class="full">
                      <input
                        matInput
                        placeholder="Quiz name"
                        [(ngModel)]="oldData.name"
                        name="quiz_name"
                        required
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Enter quiz active time</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input
                          required
                          name="startDate"
                          matStartDate
                          placeholder="Start date"
                          [(ngModel)]="oldData.startTime"
                        />
                        <input
                          [(ngModel)]="oldData.endTime"
                          required
                          name="endDate"
                          matEndDate
                          placeholder="End date"
                        />
                      </mat-date-range-input>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <button
                      (click)="update(myForm)"
                      mat-raised-button
                      color="warn"
                    >
                      Update
                    </button>
                  </form>
                </div>
                <!-- <div>
                  <h1>
                    Quiz name :
                    <span class="activeColor">
                      {{ quizDetail.quizInfo.quiz_name }}</span
                    >
                  </h1>
                  <ul>
                    <li><b>Quiz started : </b> {{ date[0] }}</li>
                    <li><b>Quiz will end : </b> {{ date[1] }}</li>
                  </ul>
                </div> -->
              </aside>
            </div>
          </aside>
          <aside class="right">
            <h3 id="headerText">Question with answer</h3>
            <article class="scrollable">
              <div
                class="question-answer"
                *ngFor="let question of quizDetail.questions; let i = index"
              >
                <hr />
                <p id="headerQuestion">{{ question.question }}</p>
                <ul class="listStyle">
                  <li
                    [ngClass]="{ correctAnswer: question.correctAnswer == 'A' }"
                  >
                    {{ question.answerA }}
                  </li>
                  <li
                    [ngClass]="{ correctAnswer: question.correctAnswer == 'B' }"
                  >
                    {{ question.answerB }}
                  </li>
                  <li
                    [ngClass]="{ correctAnswer: question.correctAnswer == 'C' }"
                  >
                    {{ question.answerC }}
                  </li>
                  <li
                    [ngClass]="{ correctAnswer: question.correctAnswer == 'D' }"
                  >
                    {{ question.answerD }}
                  </li>
                </ul>
              </div>
            </article>
          </aside>
        </aside>
        <aside class="bottom">
          <aside class="left">
            <h3 id="headerText">Students answer talbe</h3>
            <article>
              <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Ex. Kosta"
                  #input
                />
              </mat-form-field>
              <table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
                mat-table
              >
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Student Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="lastname">
                  <th mat-header-cell *matHeaderCellDef>Student Surename</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.lastname }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Student Email</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.email }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="mark">
                  <th mat-header-cell *matHeaderCellDef>Student Mark</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.mark }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="answeres">
                  <th mat-header-cell *matHeaderCellDef>Check Answers</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.answeres }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ input.value }}"
                  </td>
                </tr>
              </table>
            </article>
          </aside>
          <aside class="right">
            <!-- <h3 id="headerText">Statistics</h3> -->
          </aside>
        </aside>
      </section>
    </div>
    <div *ngIf="!isOwner">
      <section *ngIf="available">
        <div class="notAvaliable">
          <div *ngIf="state == 'early'">
            <h1 class="early">You came early!</h1>
            <p>
              Quiz will start : <span>{{ date[0] }}</span>
            </p>
          </div>
          <div *ngIf="state == 'late'">
            <h1 class="late">You came late!</h1>
            <p>
              Quiz ended : <span>{{ date[1] }}</span>
            </p>
          </div>
        </div>
      </section>
      <section *ngIf="!available">
        <article *ngIf="alreadyAnswered" class="alreadyAnswered">
          <h1>Already answered !</h1>
          <p>Maybe next Time <i class="fa-solid fa-face-frown"></i></p>
        </article>
        <article *ngIf="!alreadyAnswered && !result">
          <section class="displayForm">
            <aside class="top">
              <aside class="left">
                <img
                  [src]="quizDetail.quizInfo.imgSrc"
                  alt="background image"
                />
              </aside>
              <aside class="right">
                <div>
                  <h1>
                    Quiz name :
                    <span class="activeColor">
                      {{ quizDetail.quizInfo.quiz_name }}</span
                    >
                  </h1>
                  <ul>
                    <li><b>Quiz started : </b> {{ date[0] }}</li>
                    <li><b>Quiz will end : </b> {{ date[1] }}</li>
                    <li><b>Be honest on answers</b></li>
                    <li><b>You can upload only once</b></li>
                  </ul>
                </div>
              </aside>
            </aside>
            <aside class="bottom">
              <hr />
              <form #myForm="ngForm">
                <article class="contactInfo">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput required name="name" ngModel />
                  </mat-form-field>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput required name="lastname" ngModel />
                  </mat-form-field>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      matInput
                      name="email"
                      required
                      ngModel
                    />
                  </mat-form-field>
                </article>
                <hr />
                <div class="generatQuestions">
                  <div
                    class="question"
                    *ngFor="let question of quizDetail.questions; let i = index"
                  >
                    <h3>{{ question.question }}</h3>
                    <mat-radio-group
                      class="radio-group"
                      ngModel
                      name="{{ i }}"
                      required
                    >
                      <mat-radio-button value="A">
                        {{ question.answerA }}
                      </mat-radio-button>
                      <mat-radio-button value="B">
                        {{ question.answerB }}
                      </mat-radio-button>
                      <mat-radio-button value="C">
                        {{ question.answerC }}
                      </mat-radio-button>
                      <mat-radio-button value="D">
                        {{ question.answerD }}
                      </mat-radio-button>
                    </mat-radio-group>
                    <hr />
                  </div>
                </div>
                <div class="button">
                  <button
                    (click)="onSubmit(myForm)"
                    mat-raised-button
                    color="primary"
                    [disabled]="!myForm.valid || hold"
                  >
                    Next
                  </button>
                </div>
              </form>
            </aside>
          </section>
        </article>
        <article *ngIf="!alreadyAnswered && result">
          <section class="answered">
            <div class="mark" *ngIf="!generateMark">
              <mat-spinner></mat-spinner>
              <p>Calculating mark ...</p>
            </div>
            <div *ngIf="generateMark">
              <aside class="top_result">
                <h2>{{ resultData[0] }}</h2>
              </aside>
              <aside class="bottom_result">
                <div>
                  <p>
                    Congratulations , you got <span>{{ resultData[1] }}</span
                    >/{{ quizDetail.questions.length }}
                  </p>
                  <p>Good luck!</p>
                </div>
              </aside>
            </div>
          </section>
        </article>
      </section>
    </div>
  </div>
</section>
