.card {
  width: 30%;
}
section {
  height: 100%;
}

section .cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 350px !important;
  gap: 3.33%;
  padding: 50px 0px 150px;
  height: 90vh;
  overflow-y: scroll;
}

section .displayButtons {
  display: flex;
  justify-content: space-between;
}
.mat-card-image {
  object-fit: contain;
  height: 200px;
}
.card {
  height: 100px;
}
section .centerText {
  justify-content: center;
}

@media (max-width: 1024px) {
  .card {
    width: 90% !important;
  }
}

@media (max-width: 768px) {
  .card {
    width: 40%;
  }
}
